.option-card {
  position: relative;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 20px;

  cursor: pointer;
  transition: .3s;
}
.option-card + .option-card {
  margin-top: 20px;
} 
.option-card > .option-card-logo {
  position: absolute;
  height: 90%;
  opacity: .15;
}
.option-card > .option-card-label {
  z-index: 10;
  width: 100%;
  
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.option-card:hover > .option-card-label {
  color: #000000;
}
.option-card > .option-card-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 20px;
  height: 100%;
  background-color: #0BB599;
}
.option-card:hover > .option-card-progress {
  width: 100%; 
}
.gyra-connect-input {
  outline: none !important;

  width: calc(100% - 40px);
  height: 44px;
  border-radius: 12px;
  border: 1px solid #0BB599;

  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
.gyra-connect-input:hover,
.gyra-connect-input:focus {
  box-shadow: 0 0 4px #0BB599;
}

.gyra-connect-checkbox-area {
  display: flex;
}
.gyra-connect-checkbox-area .gyra-connect-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  accent-color: #0BB599;
}
.gyra-connect-checkbox-area .gyra-connect-label {
  width: 100%;
}

.integration-form-container {
  display: grid; 
  gap: 20px;
}.gyra-connect-button {
  width: 100%;
  height: 52px;
  font-size: 16px;

  background-color: #0BB599;
  border-radius: 12px;
  border: none;
  font-weight: bold;

  cursor: pointer;
}
.gyra-connect-button:hover {
  filter: brightness(1.1);
}* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: .3s;
}

::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #0BB599;
  border-radius: 0.625rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f8673; 
}

.ReactModal__Overlay {
  animation: overlay_modal_entry 1 .3s;
}
.ReactModal__Content {
  animation: modal_entry 1 2s;
}

@keyframes overlay_modal_entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal_entry {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#widget .widget-logo-area {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 68px;
}

#widget .widget-back-button {
  position: absolute;
  left: 0;

  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #0BB599;
  
  color: #000000;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#widget .widget-logo-area .widget-logo {
  width: 60%;
  max-width: 300px;
}

#widget .widget-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 20px;
  background-color: #0BB599;
}

#widget .widget-list-area {
  width: 100%;
  height: 62%;

  overflow-y: auto;
  overflow-x: hidden;
}

#widget .widget-form-area {
  margin-top: 110px;
}

@media(max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  #widget .widget-logo-area {
    height: auto;
  }
}