.gyra-connect-input {
  outline: none !important;

  width: calc(100% - 40px);
  height: 44px;
  border-radius: 12px;
  border: 1px solid var(--primary-color);

  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;

  transition: .3s;
}
.gyra-connect-input:hover,
.gyra-connect-input:focus {
  box-shadow: 0 0 4px var(--primary-color);
}

.gyra-connect-checkbox-area {
  display: flex;
}
.gyra-connect-checkbox-area .gyra-connect-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  accent-color: var(--primary-color);
}
.gyra-connect-checkbox-area .gyra-connect-label {
  width: 100%;
}

.integration-form-container {
  display: grid; 
  gap: 20px;
}